extends layout

block append head
	link(rel='stylesheet', href='/css/index.css')

block header

block content
	- var index = contents['index.json'].metadata;
	section#splash
		div.splash-background
			|
		div.splash-content
			div.intro
				div.golden-content.center-block
					h1!= index.splash.name
					p!= index.splash.summary
			nav.nav-container
				ul.nav
					li.nav-item
						a.tab-target(href=index.nav.about.href, data-tab-target=index.nav.about.tabId)!= index.nav.about.label
					li.nav-item
						a.tab-target.active(href=index.nav.projects.href, data-tab-target=index.nav.projects.tabId)!= index.nav.projects.label
					li.nav-item
						a.tab-target(href=index.nav.blog.href, data-tab-target=index.nav.blog.tabId)!= index.nav.blog.label
	div#content.container
		section#about.row.tab-section(data-tab=index.nav.about.tabId)
			div.col-sm-4.img-container-center
				img.img-circle(src=index.about.picture.src, alt=index.about.picture.alt)
			div.col-sm-8
				p!= index.about.summary
		section#projects.row.tab-section.active(data-tab=index.nav.projects.tabId)
			each project in index.projects
				div.col-sm-8
					h2!= project.title
					p!= project.summary
				div.col-sm-4
					img.img-rounded.img-responsive.img-full.center-block(src=project.picture.src, alt=project.picture.alt)
		section#blog.row.tab-section(data-tab=index.nav.blog.tabId)
			div.col-sm-12
				each article in contents.articles
					p!= article['index.md'].title

block footer
	footer#main-footer
		section.copy
			p &copy; #{ new Date().getFullYear() } #{ locals.owner }. All rights reserved.

block append scripts
	script(src='/js/styles.js')