extends layout

block title
  | #{page.title}

block append head
  link(rel='stylesheet', href='/css/resume.css')

block header

block content
  div.container
    - var contact = page.metadata.contact
    div#contact
      h1 !{contact.info.name}
      div.contact-options
        div.contact-option #{contact.info.email.label}
        div.contact-option
          a(href=contact.info.twitter.href, target="_blank") #{contact.info.twitter.label}
        div.contact-option #{contact.info.phone.label}
    - var summary = page.metadata.summary
    div#summary
      each bullet in summary.entries
        div.row
          div.col-sm-5.sidebar
            h5!= bullet.word
          div.col-sm-19
            p!= bullet.value
    hr
    - var education = page.metadata.education
    div#education.row
      div.col-sm-5.sidebar
        h3!= education.label
      div.col-sm-19
        each entry in education.entries
          div
            h4 !{entry.degree}, 
              a(href=entry.school.href, target="_blank") #{entry.school.label}
              br
              small #{entry.startDate} - #{entry.endDate} | #{entry.location}
            - var bullets = entry.entries
              if (bullets.length)
                ul
                  each bullet in bullets
                    li !{bullet.value}
    hr
    - var experience = page.metadata.experience  
    div#experience.row
      div.col-sm-5.sidebar
        h3!= experience.label
      div.col-sm-19
        each entry in experience.entries
          div
            h4 !{entry.position}, 
              a(href=entry.company.href, target="_blank") #{entry.company.label}
              br
              small #{entry.startDate} - #{entry.endDate} | #{entry.location}
            - var bullets = entry.entries
              ul
                each bullet in bullets
                  li !{bullet.value}
    hr
    - var projects = page.metadata.projects
    div#projects.row
      div.col-sm-5.sidebar
        h3!= projects.label
      div.col-sm-19
        each entry in projects.entries
          div
            h4
              a(href=entry.href, target="_blank") !{entry.label}
            - var bullets = entry.entries
              ul
                each bullet in bullets
                  li !{bullet.value}

block footer